.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: rgb(0, 0, 61);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(0, 0, 61);
}
